<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640790572607-f7bo445tmecraprrib9pk7s00sdqi59d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640790572607-f7bo445tmecraprrib9pk7s00sdqi59d</string>
	<key>API_KEY</key>
	<string>AIzaSyAucewyjAchGEfPfSKfFU0UkYpNCD1Fta8</string>
	<key>GCM_SENDER_ID</key>
	<string>640790572607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itisgalilei.bookschange</string>
	<key>PROJECT_ID</key>
	<string>libreria-galilei-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>libreria-galilei-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640790572607:ios:2e9bca3803c0cb2cff528a</string>
	<key>DATABASE_URL</key>
	<string>https://libreria-galilei-2023-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>